.body {
   
    /*background: url("felipe-santana-330.jpg") no-repeat fixed center;*/
}
.top {
    display:inline-block;
    width:100%;
    height: 40%;
     background: url("vasco_da_gama_bridge_in_lisbon-wallpaper-1920x1080.jpg") no-repeat fixed center ; 
     text-align: center
}
#changecolor {
    padding: 0;
    margin:0;
}
