body{
    margin: 0px;
    padding:0px;
}
header.style-top {
    background:#24292e;
    width: 100%;
    height: 100px;
}
.logo{
    float: left;
    height: 74px;
    width: 91px;    
}
nav{
    float: right;
    padding: 0px;
}
.title{
    text-align: center;
    color:rgba(255,255,255,0.75);;
    font-size:29;
}
nav ul li{
    float: right;
    list-style-type: none;
    margin: -16px 16px;
    position: relative;
}
nav ul li a{
padding: 20px;
text-decoration: none;
color: rgba(255,255,255,0.75);
display: block;
font-size: 25;
}
nav ul li a:hover{
color: #fff;
}
nav .submenu{
    display: none;
    position: absolute;
    right: 0px;
    top:45px;
}
nav ul li:hover .submenu{
    display: block;
}
nav .submenu ul li a {
   text-align: center;
    color: rgba(255,255,255,0.75);
    background:#24292e;
    border-radius: 7px;
    font-size: 15px;
}
.right{
    padding: 5px;
    margin: 24px;
}
.profilepicture{
border-radius: 50%;
    max-width: 50px;
    object-fit: cover;
    display: inline-block;
}
.EMimgcss{
    max-height: 350px;
    max-width: 350px;
    border-radius: 100px;
    padding: 7px;
    margin: 10px;
}